html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: $mainFont;
  color: $mainGray;
}

img {
  max-width: 100%;
  height: auto;
}

.greeting {
  text-align: center;
}
